.w-popup {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    &-pos-bottom .w-popup-content{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0
    }
}
