li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 16px;
  transition: all 0.3s;

  a {
    color: #485d67;
    text-decoration: none;
    &.active, &:hover {
      color: #1989fa;
    }
  }

}