.w-player-wrapper {
  width: 70px;
  height: 70px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .w-player-icon-mask {
    position: absolute;;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 50%;
    opacity: 0;
    transition: all 300ms;
  } 
  .w-player-icon {
    position: relative;
    z-index: 3;
    transition: all 300ms;
    visibility: hidden;
    transform: scale(0);
    margin-left: 4px;
  }
  .w-player-cover {
    position: absolute;;
    top: 4px;
    left: 4px;
    width: 62px;
    height: 62px;
    background-size: cover;
    z-index: 1;
    border-radius: 50%;
    &.active {
      animation: rotating 6s linear infinite;
    } 
  }
  .w-player-svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover {
    .w-player-icon {
      visibility: visible;
      transform: scale(1);
    }
    .w-player-icon-mask {
      opacity: 1;
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}