div {
  font-family: Consolas, Monaco, monospace;
}

code {
  border-radius: 4px;
}

.paneWrapper {
  border-radius: 4px;
  max-width: 750px;
  margin: 16px 32px;
  padding: 16px;
  background-color: white;
}
