// button
$border-radius: 4px;
$text-color: white;
$default-bg: #ecf0f1; // default button bg color
$default-border: 1px solid #ecf0f1;
$primary: #27ae60;
$primary-light: #2ecc71;
$danger: #c0392b;
$danger-light: #e74c3c;
$warning: #f39c12;
$warning-light: #f1c40f;
$success: #16a085;
$success-light: #1abc9c;
$midnightBlue: #2c3e50;
$midnightBlue-light: #34495e;

// input
$focus-input-border: 1px solid #85b7d9;
$default-input-border: 1px solid #dededf;
